body {
  font-family: 'Pontano Sans', sans-serif;
  /* font-family: "Darker Grotesque", sans-serif; */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4fffc;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  font-family: 'Pontano Sans', sans-serif;
  /* font-family: "Darker Grotesque", sans-serif; */
}

input {
  font-family: 'Pontano Sans', sans-serif;
  /* font-family: "Darker Grotesque", sans-serif; */
  font-size: 1.2rem;
  padding: 0px 10px;
}

code {
  font-family: 'Pontano Sans', sans-serif;
  /* font-family: "Darker Grotesque", sans-serif; */
}

.users-container {
  padding-left: 0px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  background: inherit;
  width: 100%;
}

.user-info {
  position: relative;
  font-size: 20px;
  line-height: 1.1em;
  white-space: pre;
  list-style: none;
  border: 2px #4ac3d7 solid;
  background-color: #b7f5ec;
  box-shadow: inset 0 0 2000px rgba(270, 255, 255, 0.6);
  background-blend-mode: screen;
  padding: 15px 15px 20px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.user-info-link {
  margin-top: 15px;
  color: inherit;
  text-align: center;
}

.App {
  margin: auto;
}

.user-info-text:last-child {
  margin-block-end: 0px;
}

/* Copied from https://stackoverflow.com/questions/12777034/text-overflowing-the-sides-of-its-container-div */
p {
  display: block;
  white-space: pre-wrap; /* Webkit */
  word-wrap: break-word; /* IE */
}
