.question-title {
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4fffc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.users-container {
  padding-left: 0px;
  margin: 15px auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  background: inherit;
}

.user-info {
  font-family: monospace;
  white-space: pre;
  list-style: none;
  border: 2px #4AC3D7 solid;
  background-color: #36c1c9;
  box-shadow: inset 0 0 2000px rgba(270, 255, 255, 0.6);
  background-blend-mode: screen;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.user-info-link {
  color: inherit;
  text-decoration: none;
}

.App {
  margin: auto;
}

.user-info-text:last-child {
  margin-block-end: 0px;
}

/* Copied from https://stackoverflow.com/questions/12777034/text-overflowing-the-sides-of-its-container-div */
p {
  display: block;
  white-space: pre-wrap; /* Webkit */
  word-wrap: break-word; /* IE */
}
